{% extends 'base.html.twig' %}

{% block title %}
    Mot de passe oublié
{% endblock %}

{% block body %}
    <h1>Mot de passe oublié</h1>

    <p>Un mail de demande de réinitialisation te sera envoyé si l'adresse renseignée existe, tu pourras ensuite changer de mot de passe.</p>

    <fieldset>
        {{ form_start(form) }}
        <div class="form-group">
            {{ form_errors(form) }}
        </div>

        <div class="form-group">
            {{ form_row(form.email) }}
        </div>

        <button type="submit" class="btn btn-success btn-block">Envoyer la demande</button>
        {{ form_end(form) }}
    </fieldset>
{% endblock %}