{% extends 'base.html.twig' %}

{% block title %}Rejoins la commu{% endblock %}

{% block body %}
    <div class="col-sm-12">
        {{ form_start(userForm) }}
        {{ form_widget(userForm) }}
        <button class="btn btn-lg btn-primary btn-block" type="submit">
            Register
        </button>
        {{ form_end(userForm) }}
    </div>
    <span>Pas encore de compte? <a href="{{ path('app_register') }}">S'inscrire</a></span>
{% endblock %}