{% extends 'base.html.twig' %}

{% block title %}
    Trick : {{ trick.name }}
{% endblock %}

{% block body %}
<h1>{{ trick.name }}</h1>

<div>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ducimus inventore possimus nemo eveniet recusandae quisquam perferendis in veritatis, officiis iste? Repudiandae amet accusantium quis eum voluptate porro deleniti commodi totam?
</div>

{% endblock %}