{% extends 'base.html.twig' %}

{% block body %}
    <div id="header" class="text-center shadow-lg p-3 mb-5"
         style="background-image:url({{ asset('background/main.jpg') }});">
        <h1>Snowtricks</h1>
        <h3>Pour les passionnés de snowboard, un réseau social collaboratif pour faire connaître ce sport auprès du grand public et aider à l'apprentissage des figures</h3>
        <a class="js-scrollTo" href="#tricks"><i class="fas fa-arrow-to-bottom"></i></a>
        <a class="js-scrollTo" href="#header"><i class="fas fa-arrow-to-top"></i></a>
    </div>
    <section id="tricks" class="text-center container">
        <p>Chargement des tricks <div class="loader"></div></p>
    </section>
    <a class="btn btn-block btn-primary mt-3" id="load_more_button">Charger plus</a>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('trick_homepage') }}
{% endblock %}