{% extends 'base.html.twig' %}

{% block body %}
    <h2>Pour les passionnés de snowboard, un réseau social collaboratif pour faire connaître ce sport auprès du grand public et aider à l'apprentissage des figures</h2>
    <hr>
    {% for trick in tricks %}
        <div>
            {{ trick.name }} |
            <a href="{{ path('app_trick_show', {slug : trick.slug}) }}" >Aller au trick</a> |
            {{ trick.tag.name  }}
        </div>
    {% endfor %}
{% endblock %}