<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Une demande de réinitialisation de mot de passe vient d'être faite {{ user.username }} :o</h1>
<a href="{{ url('app_homepage') }}confirm_register/{{ user.id }}/{{ user.token }}">Réinitialiser mon mot de passe</a>
<p>Attention si tu n'es pas à l'origine de cette demande ne tiens pas compte de ce mail</p>
</body>
</html>