<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Heureux de vous rencontrer {{ user.username }}! :)</h1>
<a href="{{ url('app_homepage') }}/confirm_register/token={{ user.username }}">Terminer l'inscription</a>
</body>
</html>