<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
</head>
<body>
<h1>Heureux de vous rencontrer {{ user.username }}! :)</h1>
<a href="{{ url('app_homepage') }}">Aller au site</a>
</body>
</html>